.header {
    flex-direction: row;
    position: relative;
    @include flex-CC;

    &__logo {
        height: auto;
        margin-top: 21px;
        margin-bottom: 13px;
        width: 164px;
    }

    &__back {
        position: absolute;
        left: 20px;
        top: 25px;
    }
}