*,
*::after,
*::before {
    font-family: 
        $primary-font, 
        $secondary-font;
    outline-style: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: initial;
}

button {
    font-weight: 400;
    color: $octonary-color;
}

.footer__title {
    color: $octonary-color;
    font-family: $tertiary-font;
    font-weight: 400;
}

h2 {
    font-weight: 800;
    font-size: 1.5em;
}

h3 {
    font-size: 20px;
}


input {
    font-weight: 500;
} 

button, 
input {
    font-size: 1em;
}

h2, 
input {
    font-family: $primary-font;
}

li {
    font-size: 14px;

    & a {
        color: white;
        letter-spacing: 0.06em;
    }
}

p {
    font-size: 17px;
    font-weight: 300;
}

span {
    &.number {
        font-size: 0.8em;
        color: $octonary-color;
    }

    &.fa {
        font-size: 1.2em;
        color: $denary-color;

        &.fa-store {
            font-size: 1em;
        }
    }

    &.text {
        font-weight: 600;
    }

    &.new {
        color: $nonary-color;
        font-size: 14px;
    }
}

.menu {
    & h1 {
        font-family: $tertiary-font;
        font-weight: 400;
    }

}