.about {
    background-color: $senary-color;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 280px;
    align-items: center;
    text-align: center;
    padding: 40px 30px 30px 30px;

    & h2 {
        margin: 0 15px;
    }

    & p {

        margin: 10px auto;
    }
}