
.menu {
    background-image: url("./../assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: $quaternary-color;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;

    @include lg {
        background-attachment: fixed;
        background-size: cover;
    }

    &--border { 
        background-color: $quaternary-color;
        border-radius: 25px 25px 0 0;
        margin-top: 180px;

        @include sm {
            margin-top: 210px;
        }

        @include md {
            margin-top: 350px;
            padding: 0 20px;
        }

        @include lg {
            margin-top: 200px;
            margin-left: auto;
            margin-right: auto;
            min-width: 600px;
            @include radius25;
        }

    }
    &__title {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 20px 20px 20px;
    }

    &__article {   
        background-color: $quaternary-color;
        padding: 20px;

        @include md {
            margin: 0 30px;
        }

        & h2 {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 18px;
        }

        &--underline {
            border-bottom: 2px solid $tertiary-color;
        }

        &-dish {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 70px;
            margin: 20px 0;
            align-items: center;
            width: 100%;
            overflow: hidden;
            @include box-shadow;
            @include radius15;
            
            &__text {
                padding: 0 12px;
            }
            
            &__checkbox {
                position: relative;
                text-overflow: ellipsis;
                @include flex-CC;
                &--price {
                    font-weight: bold;
                    height: 70px;
                    width: 60px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    padding-right: 20px;
                    padding-bottom: 20px;
                }
                &--bg {
                    background-color: $tertiary-color;
                    width: 60px;
                    height: 70px;
                    &--icon {
                        color: white;
                        width: 60px;
                        height: 70px;
                        @include flex-CC;
                    }
                }
            }
        }
        }

    & .btn {
        @include flex-CC;
    }
}
