.menu {
    &__la-palette-du-gout-paris {
        background-image: url("./../assets/restaurants/la-palette-du-gout-paris.jpg");
    }
    &__la-note-enchantee-paris {
        background-image: url("./../assets/restaurants/la-note-enchantee-paris.jpg");
    }
    &__le-delice-des-sens-paris {
        background-image: url("./../assets/restaurants/le-delice-des-sens-paris.jpg");
    }
    &__a-la-francaise-paris {
        background-image: url("./../assets/restaurants/a-la-francaise-paris.jpg");
    }
    background-color: $quaternary-color;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;

    @include lg {
        background-attachment: fixed;
        background-size: cover;
    }

    &--border { 
        background-color: $quaternary-color;
        border-radius: 25px 25px 0 0;
        box-sizing: border-box;
        flex-direction: column;
        margin-top: 180px;
        @include sm {
            margin-top: 210px;
        }
        @include md {
            margin-top: 350px;
        }
        @include lg {
            margin: 200px auto;
            width: 800px;
            @include radius25;
        }
    }

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 20px;
    }
    &__article {   
        background-color: $quaternary-color;
        padding: 20px 15px;

        &--underline {
            border-bottom: 2px solid $tertiary-color;
        }
    }

    &__title,
    &__article {
        box-sizing: border-box;

        @include lg {
            margin-left: auto;
            margin-right: auto;
            max-width: 600px;
        }
    }

    & .btn {
        @include flex-CC;
    }
}
