
.menu {
    &__la-palette-du-gout-paris {
        background-image: url("./../assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    }
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: $quaternary-color;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;

    @include lg {
        background-attachment: fixed;
        background-size: cover;
    }

    &--border { 
        background-color: $quaternary-color;
        border-radius: 25px 25px 0 0;
        flex-direction: column;
        margin-top: 180px;
        @include flex-CC;

        @include sm {
            margin-top: 210px;
        }

        @include md {
            margin-top: 350px;
        }

        @include lg {
            margin-left: auto;
            margin-right: auto;
            margin-top: 200px;
            padding-left: 30px;
            padding-right: 30px;
            max-width: 800px;
            @include radius25;
        }

    }

    &__title,
    &__article {
        margin-left: auto;
        margin-right: auto;
        min-width: 280px;
        @include sm {
            min-width: 300px;
        }
        @include md {
            min-width: 550px;
        }
    }
    &__title {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
        padding-top: 30px;
    }

    &__article {   
        background-color: $quaternary-color;
        padding-bottom: 20px;
        padding-top: 20px;

        & h2 {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 18px;
        }

        &--underline {
            border-bottom: 2px solid $tertiary-color;
        }

        &-dish {
            background-color: $octonary-color;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 600px;
            height: 70px;
            margin: 20px 0;
            align-items: center;
            width: 100%;
            position: relative;
            overflow: hidden;
            @include box-shadow;
            @include radius15;
            
            &__text {
                width: 200px;
                padding: 0 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            &__checkbox {
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                height: 70px;
                position: relative;
                width: 120px;
                &--price {
                    align-items: flex-end;
                    background-color: $octonary-color;
                    box-sizing: border-box;
                    display: flex;
                    font-weight: bold;
                    justify-content: flex-end;
                    padding: 10px 15px;
                    width: 60px;
                }
                &--bg {
                    background-color: $tertiary-color;
                    min-width: 60px;
                    &--icon {
                        color: $octonary-color;
                        height: 70px;
                        font-size: 1.75em;
                        @include flex-CC;
                    }
                }
            }
        }
    }

    & .btn {
        @include flex-CC;
    }
}
