.project {
    margin: 50px 20px;

    &-list {
        display: flex;
        align-items: center;
        background-color: $secondary-background;
        border-radius: 25px;
        height: 75px;
        margin: 25px 5px 25px 10px;
        width: auto;
        font-weight: bold;

        @include box-shadow;
        
        &__number {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            width: 24px;
            height: 24px;
            background-color: $primary-color;
            border-radius: 25px;
            color: white;
            margin-left: -10px;
        }

        & .fas {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            color: grey;
            margin: 0 20px;
        }

        &:hover {
            background-color: $fourth-background;
            
            & .fas {
                color: $primary-color;
            }
        } 
    }
}